body {
  font-family: "Comfortaa";
  font-weight: 700;
}

.leaderboard {
  width: 55vw;
  height: 100%;
}

.leaderboard-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 7vh;
}

.header {
  background-color: #477bff;
  color: white;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

#spinner-lbl {
  margin-left: 10px;
}

thead {
  font-size: 1.5em;
}

.footer {
  background: #477bff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#page-lbl {
  position: absolute;
  left: .5%;
  top: 25%;
}

button {
  margin: 10px 0;
  border-radius: 3rem;
  border: none;
  background: white;
  width: 6em;
  font-weight: 700;
}

.btn-page {
  margin-left: 3vh;
  margin-right: 3vh;
  transition: .3s;
}


.account-btn:hover,
.btn-page:hover {
  background: black;
  color: white;
}

#account-btns-container {
  position: absolute;
  right: .5%;
  top: 25%;
}

.account-btn {
  margin-top: 0;
  margin-bottom: 0;
  transition: .3s;
  background: #477bff;
}

/* Disable Scrollbars */

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}